body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(./public/back.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
  animation: moveBackground 20s linear infinite;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.title {
  text-align: center;
  margin-bottom: 30px;
  h1 {
    margin: 0;
  }
  p {
    margin: 5;
  }
}
.shadow-circle {
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 30px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: open-site 1s linear forwards;
}
.download-btn {
  display: inline-block;
  padding: 15px 20px;
  background: #fafafa;
  color: rgb(26, 26, 26);
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  margin: 20px;
}

.glow-on-hover {
    width: 230px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #a7a7a7;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c0c0c0;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes open-site {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@media (max-width: 1100px) {
  body {
    animation-duration: 60s; /* В 2 раза медленнее на мобильных */
  }
 
}

@media (max-width: 768px) {
  body {
    animation-duration: 70s; /* В 2 раза медленнее на мобильных */
  }
}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
  body {
    animation-duration: 100s; /* Еще медленнее */
  }
   h1 {
    font-size: 30px;
  }
  p {
   font-size: 14px; 
  }
}
